{% extends "core/__base.html" %}

{% if page.ie %}
<!--[if lt IE 7]><p class=chromeframe>Your browser is <em>really quite old.</em> <a href="http://browsehappy.com/">Upgrade to a different browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">install Google Chrome Frame</a> to experience this site.</p><![endif]-->
{% endif %}

{% block body %}

<!-- Header -->
<div id="header-container">
	<header class="wrapper clearfix" role="banner">
		{% block header %}
        <h3>header</h3>
		{% endblock %}
	</header>
</div>

<!-- Main Content -->
<div id="main-container">
	<div id="main" class="wrapper clearfix" role="main">
		{% block main %}
        <h3>main</h3>
		{% endblock main %}
	</div> <!-- #main -->
</div> <!-- #main-container -->

<!-- Footer -->
<div id="footer-container">
    <footer class="wrapper" role="banner">
        {% block footer %}
        <h3>footer</h3>
        {% endblock %}
    </footer>
</div>

{% endblock %}
