article, aside, details, figcaption, figure, footer, header, hgroup, nav, section {
  display: block;
}

audio, canvas, video {
  display: inline-block;
  *display: inline;
  *zoom: 1;
}

audio:not([controls]), [hidden] {
  display: none;
}

html {
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  font-family: sans-serif;
  color: #222222;
}

button, input, select, textarea {
  font-family: sans-serif;
  color: #222222;
}

body {
  margin: 0;
  font-size: 1em;
  line-height: 1.4;
}
body::-moz-selection, body::selection {
  background: #fe57a1;
  color: white;
  text-shadow: none;
}

a {
  color: #0000ee;
}
a:visited {
  color: #551a8b;
}
a:hover {
  color: #0066ee;
}
a:focus {
  outline: thin dotted;
}
a:hover, a:active {
  outline: 0;
}

abbr[title] {
  border-bottom: 1px dotted;
}

b, strong {
  font-weight: bold;
}

blockquote {
  margin: 1em 40px;
}

dfn {
  font-style: italic;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0;
}

ins {
  background: #ffff99;
  color: black;
  text-decoration: none;
}

mark {
  background: yellow;
  color: black;
  font-style: italic;
  font-weight: bold;
}

pre, code, kbd, samp {
  font-family: monospace, serif;
  _font-family: "courier new", monospace;
  font-size: 1em;
}

pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word;
}

q {
  quotes: none;
}
q:before, q:after {
  content: "";
  content: none;
}

small {
  font-size: 85%;
}

sub {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

ul, ol {
  margin: 1em 0;
  padding: 0 0 0 40px;
}

dd {
  margin: 0 0 0 40px;
}

nav ul, nav ol {
  list-style: none;
  list-style-image: none;
  margin: 0;
  padding: 0;
}

img {
  border: 0;
  -ms-interpolation-mode: bicubic;
  vertical-align: middle;
}

svg:not(:root) {
  overflow: hidden;
}

figure, form {
  margin: 0;
}

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

label {
  cursor: pointer;
}

legend {
  border: 0;
  *margin-left: -7px;
  padding: 0;
  white-space: normal;
}

button, input, select, textarea {
  font-size: 100%;
  margin: 0;
  vertical-align: baseline;
  *vertical-align: middle;
}

button, input {
  line-height: normal;
}

button {
  cursor: pointer;
  -webkit-appearance: button;
  *overflow: visible;
}

input[type="button"], input[type="reset"], input[type="submit"] {
  cursor: pointer;
  -webkit-appearance: button;
  *overflow: visible;
}

button[disabled] {
  cursor: default;
}

input[disabled] {
  cursor: default;
}
input[type="checkbox"], input[type="radio"] {
  box-sizing: border-box;
  padding: 0;
  *width: 13px;
  *height: 13px;
}
input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}
input::-webkit-search-decoration, input::-webkit-search-cancel-button {
  -webkit-appearance: none;
}

button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

textarea {
  overflow: auto;
  vertical-align: top;
  resize: vertical;
}

input:valid, textarea:valid {
  border: 1px solid green;
}

input:invalid, textarea:invalid {
  background-color: #f0dddd;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td {
  vertical-align: top;
}

.chromeframe {
  margin: 0.2em 0;
  background: #cccccc;
  color: black;
  padding: 0.2em 0;
}

/* ===== Initializr Styles =====================================================
 * Author: Jonathan Verrecchia - verekia.com/initializr/responsive-template
 * ========================================================================== */
body {
  font: 16px/26px Helvetica, Helvetica Neue, Arial;
}

.wrapper {
  width: 90%;
  margin: 0 5%;
}

/* ===================
 *  ALL: Orange Theme
 * =================== */
#header-container {
  height: 50px;
}

#footer-container, #main aside {
  border-top: 20px solid #dddddd;
}

#title {
  color: white;
}
#title::-moz-selection, #title::selection {
  background: #eeeeee;
  color: white;
  text-shadow: none;
}

/* ==============
 *  MOBILE: Menu
 * ============== */
nav a {
  display: block;
  padding: 15px 0;
  color: white;
  text-align: center;
  text-decoration: none;
  font-weight: bold;
}
nav a:hover, nav a:visited {
  color: white;
}
nav a:hover {
  text-decoration: underline;
}

/* ==============
 *  MOBILE: Main
 * ============== */
#main article h1 {
  font-size: 2em;
}
#main aside {
  color: white;
  padding: 0px 5% 10px;
}

#footer-container footer {
  color: white;
  padding: 20px 0;
}

body {
  font: 80% Verdana, sans-serif;
}

h1 {
  font: 48pt "Satisfy", cursive;
}

p {
  margin: 15px 0;
  padding: 5px 0;
}

.lightorange {
  color: #ffb246;
}

.darkorange {
  color: #f57220;
}

#header-container {
  top: 0;
  left: 0;
  right: 0;
  position: absolute;
  z-index: 1000;
}

#main {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 500;
}
#main #content section {
  width: 45%;
  padding: 10px;
  padding-top: 5px;
  margin: 20px;
  background: #eeeeee;
  min-height: 800px;
  min-width: 100px;
  float: left;
}
#main #masthead {
  background: #dddddd;
  height: 270px;
  position: relative;
}
#main #masthead img {
  position: absolute;
  bottom: 25%;
  left: 5%;
}
#main #masthead #title {
  position: absolute;
  bottom: 0;
  left: 13%;
  font: 32pt "Satisfy", cursive;
}

#footer-container {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  background: #bbbbbb;
  padding: 10px;
}
#footer-container .left {
  float: left;
}
#footer-container .right {
  float: right;
}

.ir {
  display: block;
  border: 0;
  text-indent: -999em;
  overflow: hidden;
  background-color: transparent;
  background-repeat: no-repeat;
  text-align: left;
  direction: ltr;
  *line-height: 0;
}
.ir br {
  display: none;
}

.hidden {
  display: none !important;
  visibility: hidden;
}

.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}
.visuallyhidden.focusable:active, .visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
}

.invisible {
  visibility: hidden;
}

.clearfix {
  *zoom: 1;
}
.clearfix:before {
  content: "";
  display: table;
}
.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

/* =============================================================================
 * Media Queries
 * ========================================================================== */
@media only screen and (min-width: 480px) {
  /* ====================
   *  INTERMEDIATE: Menu
   * ==================== */
  nav a {
    margin: 0 1.7%;
    margin-bottom: 0;
  }
  nav li:first-child a {
    margin-left: 0;
  }
  nav li:last-child a {
    margin-right: 0;
  }
  nav ul li {
    display: inline;
  }

  /* ========================
   *  INTERMEDIATE: IE Fixes
   * ======================== */
  .oldie nav a {
    margin: 0 0.7%;
  }
}
@media only screen and (min-width: 768px) {
  /* ====================
   *  WIDE: CSS3 Effects
   * ==================== */
  /* ============
   *  WIDE: Menu
   * ============ */
  #title {
    float: left;
  }

  nav {
    float: left;
    margin-left: 1%;
  }

  /* ============
   *  WIDE: Main
   * ============ */
  #main article {
    float: left;
    width: 57%;
  }
  #main aside {
    float: right;
    width: 28%;
  }
}
@media only screen and (min-width: 1140px) {
  /* ===============
   *  Maximal Width
   * =============== */
  .wrapper {
    width: 100%;
    margin: 0 auto;
  }
}
@media print {
  * {
    background: transparent !important;
    color: black !important;
    box-shadow: none !important;
    text-shadow: none !important;
    filter: none !important;
    -ms-filter: none !important;
  }

  /* Black prints faster: h5bp.com/s */
  a {
    text-decoration: underline;
  }
  a:visited {
    text-decoration: underline;
  }
  a[href]:after {
    content: " (" attr(href) ")";
  }

  abbr[title]:after {
    content: " (" attr(title) ")";
  }

  .ir a:after {
    content: "";
  }

  a[href^="javascript:"]:after, a[href^="#"]:after {
    content: "";
  }

  /* Don't show links for images, or javascript/internal links */
  pre, blockquote {
    border: 1px solid #999999;
    page-break-inside: avoid;
  }

  thead {
    display: table-header-group;
  }

  /* h5bp.com/t */
  tr {
    page-break-inside: avoid;
  }

  img {
    page-break-inside: avoid;
    max-width: 100% !important;
  }

  @page {
    margin: 0.5cm;
}

  p, h2, h3 {
    orphans: 3;
    widows: 3;
  }

  h2, h3 {
    page-break-after: avoid;
  }
}
#superbar {
  width: 100%;
  height: 50px;
}
#superbar nav {
  position: absolute;
  left: 110px;
  right: 0;
}
#superbar nav .left {
  float: left;
  margin-left: 1%;
}
#superbar nav .left li {
  float: left;
}
#superbar nav .right {
  float: right;
  margin-right: 1%;
}
#superbar nav .right li {
  float: right;
}
#superbar nav ul li {
  padding: 0 10px;
  margin-left: 1px;
  margin-right: 1px;
}
#superbar nav ul li a {
  color: #ffb246;
}
#superbar nav ul li a:hover {
  text-decoration: none !important;
}
#superbar nav ul li:hover {
  background: #f57220 !important;
}
#superbar nav ul li:hover a {
  color: white !important;
  text-decoration: none !important;
}
