#superbar

	width: 100%
	height: 50px

	nav

		position: absolute
		left: 110px
		right: 0

		.left
			float: left
			margin-left: 1%

			li
				float: left

		.right
			float: right
			margin-right: 1%

			li
				float: right

		ul
			li
				padding: 0 10px
				margin-left: 1px
				margin-right: 1px

				a
					color: #ffb246

					&:hover
						text-decoration: none !important

				&:hover
					background: #f57220 !important

					a
						color: white !important
						text-decoration: none !important