{% extends "layout/layout_base.html" %}

{% block main %}

<!-- Main Masthead -->
    <div id='masthead'>
        <div class="left">
            <img src='https://d2ipw8y1masjpy.cloudfront.net/static/branding/openfire_transparent_optimized.png' alt='openfire!' width='600' height='173' />
            <h1 id="title"><span class='lightorange'>momentum for</span> <span class='darkorange'>positive disruption</span></h1>
        </div>
        <div id="how-it-works-button" class="right">
            <a href id="a-how-it-works-modal">How it works&nbsp;&nbsp;&gt;</a>
        </div>

    </div><!-- #masthead -->

    <div id='content'>

        <section id='projects' class='cardstack' role='region'>

            <h2>Projects</h2>
            <div class='section-wrap'>

                <!-- Project Card -->
                <div class='project-card'>
                    <div class='project-icon' data-name='fat cat map' data-description='real-life gps for politics.'>
                        <img src="http://placehold.it/140x120" />
                    </div>
                    <div class='project-progress' style='width: 93%'>
                    </div>
                </div>

                <div class='project-card'>
                    <div class='project-icon' data-name='seasteading'>
                        <img src="http://placehold.it/140x120" />
                    </div>
                    <div class='project-progress' style='width: 83%'>
                    </div>
                </div>

                <div class='project-card'>
                    <div class='project-icon' data-name='time banking'>
                        <img src="http://placehold.it/140x120" />
                    </div>
                    <div class='project-progress' style='width: 69%'>
                    </div>
                </div>

                <div class='project-card'>
                    <div class='project-icon' data-name='global village initiative'>
                        <img src="http://placehold.it/140x120" />
                    </div>
                    <div class='project-progress' style='width: 42%'>
                    </div>
                </div>

                <div class='project-card'>
                    <div class='project-icon' data-name='seed banking'>
                        <img src="http://placehold.it/140x120" />
                    </div>
                    <div class='project-progress' style='width: 21%'>
                    </div>
                </div>

                <div class='project-card'>
                    <div class='project-icon' data-name='new democracy'>
                        <img src="http://placehold.it/140x120" />
                    </div>
                    <div class='project-progress' style='width: 8%'>
                    </div>
                </div>

            </div>

        </section><!-- #projects -->

        <section id='activity' class='newsfeed' role='region'>

            <h2>Activity</h2>
            <div class="section-wrap">
                <ul class='feed'>
                    <li class='feed-item'>
                        <span class="datetime">
                            &nbsp;
                        </span>
                    </li>
                </ul>
            </div>

        </section><!-- #activity -->

     </div><!-- #content -->

<div class="pre-modal" id="how-it-works-modal" data-title="How it works!" data-options='{"ratio":{"x":0.7,"y":0.7}}'>
    <h1>How it works!</h1>
    <p>I will eventually be content that explains what the heck this awesome-looking site is about!</p>
</div>
{% endblock %}
